<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6abc94">  <td>20/01/30 21:32:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListenerImplementation.googleTitle()[pri:0, instance:punya.com.testng.listener.ListenerImplementation@71b1176b]">googleTitle</td> 
  <td>main@1107024580</td>   <td></td> </tr>
<tr bgcolor="6abc94">  <td>20/01/30 21:32:53</td>   <td>12335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListenerImplementation.googleTitleMatch()[pri:0, instance:punya.com.testng.listener.ListenerImplementation@71b1176b]">googleTitleMatch</td> 
  <td>main@1107024580</td>   <td></td> </tr>
</table>
